<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Utilities.ExtendReports"/>
</listeners>



  <test thread-count="5" name="testng">
    <classes>
  <class name="PBL_SANITY.Page1_ProcessMap_Rejections_PBL"/>
    <class name="PBL_SANITY.Page2_gelocate_working_hours"/>
     <class name="PBL_SANITY.Validation_System_and_application"/>
       <class name="PBL_SANITY.Page3_System_applications"/>
       <class name="PBL_SANITY.Validation_Products_PBL"/>
     <class name="PBL_SANITY.Page4_products"/>
     <class name="PBL_SANITY.Page5_periodic_activities"/>
     <class name="PBL_SANITY.Page6_Volume"/>
     <class name="PBL_SANITY.Page7_AHT"/>
     <class name="PBL_SANITY.Page8_gelocate_team_size"/>
     <class name="PBL_SANITY.Page9_Release_and_wait_type"/>
     <class name="PBL_SANITY.Page10_Deadlines"/>
     <class name="PBL_SANITY.Validation_Forms"/>
     <class name="PBL_SANITY.Page11_forms"/>
     <class name="PBL_SANITY.Validation_BusinessRules"/>
     <class name="PBL_SANITY.Page12_business_rules"/>
     <class name="PBL_SANITY.Page13_TeamSalary"/>
     <class name="PBL_SANITY.Page14_OperationSites"/>
     <class name="PBL_SANITY.Page15_NVA"/>
     <class name="PBL_SANITY.Page16_Controls"/>
   
    </classes>
  </test>  
</suite> <!-- Suite -->
